<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DatabaseConnection"
			 connectionString="Data Source=LUCASWOLFF\SQLEXPRESS;Initial Catalog=DoomsdayLogsDB;Integrated Security=true;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False"/>
	</connectionStrings>
	<appSettings>
		<add key ="LastProjectSelected" value ="" />
		<add key ="NotePadOptionSelected" value ="" />
	</appSettings>
</configuration>
